<h1>chat!</h1>
{{#each messages}}
  <div class="container-messages">
    <p>Usuario: {{user}}</p>
    <p>Mensaje: {{message}}</p>
  </div>
{{/each}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>