<article>
  <h1>Bienvenido al chat!</h1>
  <div>
    <div id="historial"></div>
    <input
      id="emailBox"
      required="true"
      type="text"
      placeholder="Nombre Usuario"
    />
    <input id="chatbox" required="true" placeholder="Escribe un mensaje" />

    <button id="sendButton">Enviar</button>
    <hr />

  </div>
</article>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>