<div>
    <article>
        <h1>No estas autorizado!</h1>
        <h2>Registrate o inicia sesion!</h2>
        <a href="/signup">Registrarse</a>
        <br>
        <a href="/">Iniciar sesion</a>
    </article>
</div>