<div>
  <form>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" required>
    </div>
    <div>
      <button type="submit">Resetear password</button>
    </div>
  </form>
</div>