<div>
  <h2>Olvidaste tu contraseña</h2>
  <p>Ingresa tu correo para restableser la contraseña</p>
  <form method="post" action="api/sessions/forgot-password">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" required>
    </div>
    <div>
      <button type="submit">Restablecer contraseña</button>
    </div>
  </form>
</div>  