<h1>Loguéate!</h1>
<article>
  <div>
    <form action="/api/sessions/login" method="post">
      <label for="email">Email</label>
      <input
        type="text"
        placeholder="Ingresa tu Email"
        name="email"
        required="true"
      />
      <br />
      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Ingresa Contraseña"
        name="password"
        required="true"
      />
      <br />
      <button type="submit">Ingresar</button>
      <div>
        <a href="/signup">¿No tenes cuenta? Registrate</a>
      </div>
      <div>
        <a href="/api/sessions/github">Ingresar con Github</a>
      </div>
      {{#if error}}
        <p>{{error}}</p>

      {{/if}}
    </form>
  </div>
</article>