<div id="list">
  <div class="user-info">
    <li>Bienvenido : {{user}}</li>
    <li>Account Role : {{role}}</li>
    <li>Cart Id: {{cart}}</li>
    <form method="post" action="/api/sessions/logout">
      <button type="submit">Logout</button>
    </form>
  </div>
  <div>