<div>
    <form action="api/sessions/reset-password?token={{token}}" method="POST">
        <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div>
        <label for="password">New Password</label>
        <input type="password" id="loginPassword" name="loginPassword" placeholder="Password" required>
        </div>
        <div>
        <button type="submit">Restablecer contraseña</button>
        </div>
    </form>
</div>